<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IconfontDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>100AE69E1F04D67500E3C630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>100AE6B71F04D67500E3C630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>100AE6C21F04D67500E3C630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
